<html>
  <head>
    <title>Task Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Manager Page</h1>
      REPLACE_ME
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Username" name="username" value="{{ request.form.username }}">
        <input type="password" placeholder="Password" name="password" value="{{ request.form.password }}">
        <br>Check Ban(s) <input type="text"name="check_ban" value="{{ request.form.check_ban }}">
        <br>Ban Worker(s) <input type="text" name="ban_worker" value="{{ request.form.ban_worker }}">
        <br>Unban Workers(s) <input type="text" name="unban_worker" value="{{ request.form.unban_worker }}">
        <br>
        Submit: <input type="submit" name="submit" value="Submit">
        <br>
        Check Banned: <input type="submit" name="submit" value="List Banned">
        <br>
        Stop Addition: <input type="submit" name="submit" value="Stop">
        <br>
        Halt Task: <input type="submit" name="submit" value="Halt">
        <br>
        Shutdown Task: <input type="submit" name="submit" value="Shutdown">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>
