<center><p><b>FINDING {% filter upper %}{{ jg['attribute'] }}{% endfilter %}
    IMAGES</b></p></center>

<p>You are about to participate in an a psychological experiment to gather
    data about the {% filter upper %}{{ jg['attribute'] }}{% endfilter %}-ness of
    images. You will see multiple groups of images, one after the other. Your
    job will change depending on the section; in some sections, you will
    choose the most {% filter upper %}{{ jg['attribute'] }}{% endfilter %} image
    out of that group, in others you will chose the least
    {% filter upper %}{{ jg['attribute'] }}{% endfilter %}. This is done
    very simply: you just click on the image, and you will go on to the next
    set of images.
</p>

<p>{{ jg['attribute_description'] }}</p>

<p>
    Remember to work as quickly as you can while still being able to think
    that about the images you are clicking on. All tasks are accepted
    immediately. You will be notified, however, if the work was considered
    below an acceptable standard.
</p>

<p>
    Click <b>Next</b> to begin.
</p>