<center><p><b>FINDING {% filter upper %}{{ jg['attribute'] }}{% endfilter %} IMAGES</b></p></center>

<p>You are about to participate in an a psychological experiment to gather
    data  about the {% filter upper %}{{ jg['attribute'] }}{% endfilter %}-ness of
    images. You will see multiple groups of images, one after the other. Your
    job will change depending on the section; in some sections, you will
    choose the MOST {% filter upper %}{{ jg['attribute'] }}{% endfilter %} image
    out of that group, in others you will chose the LEAST
    {% filter upper %}{{ jg['attribute'] }}{% endfilter %}. However, in some  HITs,
    you may be asked to only choose the MOST
    {% filter upper %}{{ jg['attribute'] }}{% endfilter %}, or only choose the
    LEAST. This is done very simply: you just click on the image, and you
    will go on to the next set of images.</p>

</sep>

<center><p><b>FINDING {% filter upper %}{{ jg['attribute'] }}{% endfilter %} IMAGES</b></p></center>
<p>{{ jg['attribute_description'] }}</p>

</sep>

<center><p><b>FINDING {% filter upper %}{{ jg['attribute'] }}{% endfilter %} IMAGES</b></p></center>

<p>However, first, you have to complete a practice HIT, which is what this
    is.  This will ensure that you understand the directions and are able to
    work appropriately quickly and finish the HIT as desired. After you
    complete this practice HIT, you will be granted a special qualification
    that will let you see the other other HITs that correspond to the "real"
    task. If you fail the practice, you can just try another practice. <b>You
    will still be paid even if you fail the practice.</b> Once the practice
    is passed, you won't be able to take accept more practices HITs.</p>

</sep>

<center><p><b>FINDING {% filter upper %}{{ jg['attribute'] }}{% endfilter %} IMAGES</b></p></center>

<p>Remember that in all sections you must work as quickly as you can with
    compromising your performance. Don't act randomly, but try not to think
    about things too much; there are no 'wrong' answers, and we want your
    MOST initial reaction. If you think all the images are the same in terms
    of {% filter upper %}{{ jg['attribute'] }}{% endfilter %}-ness, do not click
    anything and you will go onto the next trial automatically.</p>

<p>Click 'next' to go over an explanation of the HIT sections.</p>

</sep>

<center><p><b>KEEP SECTIONS</b></p></center>

<p>In <b>KEEP SECTIONS</b>, you will see a series of groups of images. You
    are asked to select the <b>MOST</b>
    {% filter upper %}{{ jg['attribute'] }}{% endfilter %} image from among them.
    Each group of images will look like this:</p>

<center><img src="https://s3.amazonaws.com/mturk-webserver-assets/1_initial_image.png" height="300"></center>

</sep>

<center><p><b>KEEP SECTIONS</b></p></center>

<p>You must decide quickly (but not randomly!) which image, among those
    displayed, is the <b>MOST</b>
    {% filter upper %}{{ jg['attribute'] }}{% endfilter %}. Click on this image.
    Say that you chose the image on the left. You will see that the image
    you choose is (very briefly) highlighted with a
    <font color="green">green</font> border as shown here:</p>

<center><img src="https://s3.amazonaws.com/mturk-webserver-assets/3_image_accepted.png" height="300"></center>

</sep>

<center><p><b>REJECT SECTIONS</b></p></center>

<p>In <b>REJECT SECTIONS</b>, you will see a series of groups of images. You
    are asked to select the <b>LEAST</b>
    {% filter upper %}{{ jg['attribute'] }}{% endfilter %} image from among them.
    When you click the image you have decided is the <b>LEAST</b>
    {% filter upper %}{{ jg['attribute'] }}{% endfilter %}, it will be briefly
    highlighted with a border, just like the in the <b>KEEP</b> sections, only
    the border will be <font color="red">red</font>, not green.</p>

