<center><p>
        <b>
            FINDING {% filter upper %}{{ attribute }}{% endfilter %} IMAGES
        </b>
</p></center>

<p>
    You are about to participate in an a psychological experiment to gather data about the {% filter upper %}{{ attribute }}{% endfilter %}-ness of images.
</p>

<p>
    However, first, you have to complete a practice run, which is what this is. This will ensure that you understand the directions and are able to work appropriately quickly and finish the task as desired. You will complete a practice experiment (<b>you WILL be paid</b>), which will determine if you are able to begin participating in the actual experiment.
</p>

<p>
    Remember that in all segments, you must work as quickly as you can while still doing the task. Don't act randomly, but try not to think about things too much--there are no 'wrong' answers, per se.
</p>
<p>
    Click 'next' to go over an explanation of the task types.
</p>

