<center><p>
    <b>REJECT SEGMENTS</b>
</p></center>

<p>
    In <b>REJECT SEGMENTS</b>, you will see a series of groups of images. You are asked to select the <b>LEAST</b> {{ attribute }} image from among them.
</p>

<p>
    Each group of images will look like this:
</p>

<center>
    <img src="{{ reject_img_1 }}" width="800" height="800">
</center>

<p>
    You must decide quickly (but not randomly!) which image, among those displayed, is the <b>LEAST</b> {{ attribute }}. Click on this image. You will see that the image you choose is highlighted in <font color="red">red</font> as shown here:
</p>

<center>
    <img src="{{ reject_img_2 }}" width="800" height="800">
</center>