<center><p>
        <b>
            FINDING {{ attribute }} IMAGES
        </b>
</p></center>

<p>
    You are about to participate in an a psychological experiment to gather data about the {{ attribute }}-ness of images.
</p>

<p>
    However, first, you have to complete a practice run, which is what this is. This will ensure that you understand the directions and are able to work appropriately quickly and finish the task as desired. You will complete a practice experiment (<b>you WILL be paid</b>), which will determine if you are able to begin participating in the actual experiment.
</p>

<p>
    Click 'next' to go over an explanation of the task types.
</p>

