<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thank you</title>
    <script src="{{ jg['jspsych_js'] }}"></script>
    <link rel="stylesheet" href="{{ jg['jspsych_css'] }}">
    <link rel="stylesheet" href="{{ jg['jquery_ui_css'] }}">
</head>
<body>
    <center>
        <br><br>
        <img src="{{ jg['attention_png'] }}" alt="success" style="width:300px;height:300px;">
        <p>You have completed the practice, but you did not pass it. Do not
            worry, we will still accept your work and you will be paid for
            it. You may be able to try to pass the practice again; however,
            if you've already attempted too many times this week, try again
            next week when you will have the opportunity to try again.</p>
        <p>Click below to submit.</p>
        <button onclick="sendData();">Submit HIT</button>
    </center>
</body>
<script>
    function sendData() {
        jsPsych.turk.submitToTurk({
            code: 'completed'
        });
    }
</script>
</html>