<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thank you</title>
    <script src="{{ jg['jspsych_js'] }}"></script>
    <link rel="stylesheet" href="{{ jg['jspsych_css'] }}">
    <link rel="stylesheet" href="{{ jg['jquery_ui_css'] }}">
</head>
<body>
    <center>
        <br><br>
        <img src="{{ jg['stop_png'] }}" alt="stop" style="width:300px;height:300px;">
        <p>You have already passed the practice. You cannot re-submit it!
            Please proceed to our other HITs, listed under
            {{ jg['task_name'] }}.
        </p>
        <p>If you would like to send us feedback, our Requester ID is
            {{ jg['RID'] }}. You may also send feedback by clicking
            <a href="{{ feedback_url }}" target="_blank">here</a>
            (make sure to open in a new window or tab).</p>

        <p>To view our hits, click
            <a href="{{ search_page }}" target="_blank">here</a>
            (make sure to open in a new window or tab).</p>
        <p>
            If you believe this is an error, please contact us.
        </p>
    </center>
</body>
</html>