<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Preview</title>
    <script src="{{ jg['jspsych_js'] }}"></script>
    <link rel="stylesheet" href="{{ jg['jspsych_css'] }}">
    <link rel="stylesheet" href="{{ jg['jquery_ui_css'] }}">
</head>
<body>
<center><p><b>PRACTICE FINDING {% filter upper %}{{ jg['attribute'] }}{% endfilter %}
    IMAGES</b></p></center>

<p>You have already passed the practice; you should proceed to taking the 
    primary task, {{ jg['task_name'] }}</p>
</body>
</html>