<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Preview</title>
    <script src="{{ jg['jspsych_js'] }}"></script>
    <link rel="stylesheet" href="{{ jg['jspsych_css'] }}">
    <link rel="stylesheet" href="{{ jg['jquery_ui_css'] }}">
</head>
<body>
<center><p><b>PRACTICE FINDING {% filter upper %}{{ jg['attribute'] }}{% endfilter %}
    IMAGES</b></p></center>

<p>You have attempted too many practices. Please come back again in 7 days
    when you will be able to try again.</p>
</body>
</html>