<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Preview</title>
    <script src="{{ jg['jspsych_js'] }}"></script>
    <link rel="stylesheet" href="{{ jg['jspsych_css'] }}">
    <link rel="stylesheet" href="{{ jg['jquery_ui_css'] }}">
</head>
<body>
<div id="jspsych-target">
<center><p><b>PRACTICE FINDING {% filter upper %}{{ jg['attribute'] }}{% endfilter %}
    IMAGES</b></p></center>

<p>This is a training / practice HIT that will prepare you to
    participate in a psychological experiment to gather data about the
    {% filter upper %}{{ jg['attribute'] }}{% endfilter %}-ness of images. Once
    you have completed it, you will be able to take the main task, which
    consists of many HITs all named {{ jg['task_name'] }}. You will
    see multiple groups of images, one after the other. Your job will change
    depending on the section; in some sections, you will choose the most
    {% filter upper %}{{ jg['attribute'] }}{% endfilter %} image out of that
    group, in others you will chose the least
    {% filter upper %}{{ jg['attribute'] }}{% endfilter %}. This is done
    very simply: you just click on the image, and you will go on to the next
    set of images.
</p>

<p>All of our HITs are <b>automatically accepted</b> immediately, although there may be a delay because of MTurk. However you will have a
    limited number of tries to complete the practice. If you exceed this
    limit, you can try again in 7 days.</p>

    <p>What we mean by {% filter upper %}{{ jg['attribute'] }}{% endfilter %} will be explained in the instructions.</p>
    <p><b>This task will take NO LONGER THAN {{ task_time }} to complete, and probably much less.</b></p>

    {% if jg['announcement'] %}
        <p><i>{{ jg['announcement'] }}</i></p>
    {% endif %}
</div>
</body>
</html>