<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Preview</title>
    <script src="{{ jg['jspsych_js'] }}"></script>
    <link rel="stylesheet" href="{{ jg['jspsych_css'] }}">
    <link rel="stylesheet" href="{{ jg['jquery_ui_css'] }}">
</head>
<body>
<center><p><b>FINDING {% filter upper %}{{ jg['attribute'] }}{% endfilter %}
    IMAGES</b></p></center>

<p>Before you can begin this HIT you have to pass a practice HIT. It is
    called {{ jg['practice_task_name'] }}. Once you have completed and passed
    the practice, you can return here and begin.</p>
</body>
</html>