<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Preview</title>
    <script src="{{ jg['jspsych_js'] }}"></script>
    <link rel="stylesheet" href="{{ jg['jspsych_css'] }}">
    <link rel="stylesheet" href="{{ jg['jquery_ui_css'] }}">
</head>
<body>
<div id="jspsych-target">
<center><p><b>FINDING {% filter upper %}{{ jg['attribute'] }}{% endfilter %} IMAGES</b></p></center>

<p>You are about to participate in an a psychological experiment to gather data
    about the {% filter upper %}{{ jg['attribute'] }}{% endfilter %}-ness of
    images. You will see multiple groups of images, one after the other. Your
    job will change depending on the section; in some sections, you will
    choose the most {% filter upper %}{{ jg['attribute'] }}{% endfilter %}
    image out of that group, in others you will chose the least
    {% filter upper %}{{ jg['attribute'] }}{% endfilter %}. This is done very
    simply: you just click on the image, and you will go on to the next set
    of images.</p>

    <p>What we mean by {% filter upper %}{{ jg['attribute'] }}{% endfilter %} will be explained in the instructions.</p>
    <p><b>This task will take NO LONGER THAN {{ task_time }} to complete, and probably much less.</b></p>

    <p><i>Please note, we are still testing these HITs. Please excuse any bugs that emerge and report them to us.</i></p>
</div>
</body>
</html>