<!--
The template version of the success page.
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ban</title>
    <link rel="stylesheet" href="{{ jspsych.css }}">
    <link rel="stylesheet" href="{{ jquery-ui.css }}">
</head>
<body>
    <center>
        <br><br>
        <img src="symbols/check.png" alt="success" style="width:300px;height:300px;">
        <br><br>
        Your task has been submitted. Thank you!
        <br><br>
        <!-- TODO: Implement 'contact us' -->
    </center>
</body>
</html>