<!--
The template version of the success page.
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ban</title>
    <link rel="stylesheet" href="../js/jspsych-4.3/css/jspsych.css">
    <link rel="stylesheet" href="../js/jspsych-4.3/css/jquery-ui.css">
</head>
<body>
    <center>
        <br><br>
        <img src="symbols/check.png" alt="success" style="width:300px;height:300px;">
        <br><br>
        Your task has been submitted. Thank you!
        <br><br>
        You may complete {{ num_more_tasks }} this week.
    </center>
</body>
</html>