<!doctype html>
<html>
<head>
  <script src="{{ jg['jquery_min_js'] }}"></script>
  <script src="{{ jg['jquery_ui_min_js'] }}"></script>
  <script src="{{ jg['jspsych_js'] }}"></script>
  <script src="{{ jg['jspsych_click_choice_js'] }}"></script>
  <script src="{{ jg['jspsych_instructions_js'] }}"></script>
  <script src="{{ jg['jspsych_html_js'] }}"></script>
  <script src="{{ jg['practice_debrief_js'] }}"></script>
  <script src="{{ jg['progressbar_min_js'] }}"></script>
  <link rel="stylesheet" href="{{ jg['jspsych_css'] }}">
  <link rel="stylesheet" href="{{ jg['jquery_ui_css'] }}">
</head>
<body>
<div id="jspsych-target"></div>
</body>
<script>
  {% for block in blocks %}
    {{ block }}
  {% endfor %}

  var practice = {{ practice }};
  var collect_demo = {{ collect_demo }};
  var task_id = "{{ taskId }}";

  var debrief = {
    type: 'instructions',
    pages: [function() {return get_rt_string({{ jg['MAX_FRAC_TOO_FAST'] }}, {{ jg['MIN_TRIAL_RT'] }});},
            function() {return get_missed_string({{ jg['MAX_FRAC_UNANSWERED'] }});},
            function() {return get_bias_string({{ jg['MAX_PROB_RANDOM'] }});},
            function() {return get_contradictions_string({{ jg['MAX_FRAC_CONTRADICTIONS'] }},
            '{{ jg['attribute'] }}');}],
    show_clickable_nav: true
  }

  var check_demographics = function(elem) {
    if (!$("input:radio[name=gender]").is(":checked")){
      alert("You must indicate your gender.");
      return false;
    }
    if (!$("input[name=birthyear]").val()){
      alert("You must indicate the year you were born, e.g., 1965");
      return false;
    }
    jsPsych.data.write({
      "gender":$('input[name=gender]:checked').val(),
      "birthyear":$('input[name=birthyear]').val()
      });
    return true
  }

  var demo = {
    type:'html',
    pages: [{url: "static/html/demographics.html", cont_btn: "start", check_fn: check_demographics}]
  }

  {{ preload }}

  function clearBox(elementID){
    document.getElementById(elementID).innerHTML = "";
  }

var experiment_structure = [
    {% for blockname in blocknames %}
        {{ blockname }},
    {% endfor %}
];

if (collect_demo) {
    experiment_structure.splice(0, 0, demo);
}

if (practice) {
    experiment_structure.push(debrief);
}

  function startExperiment(){
    //clearBox("jspsych-target");
    jsPsych.init({
      display_element: $('#jspsych-target'),
      experiment_structure: experiment_structure,
      on_finish: function() {
            if (practice){
                jsPsych.data.addProperties({
                    "is_practice":practice,
                    "passed_practice":passed_practice
                })
            } else {
                jsPsych.data.addProperties({
                    "is_practice":practice,
                    "passed_practice":true
                })
            }
            var turk_info = jsPsych.turk.turkInfo();
            jsPsych.data.addProperties({
                "assignmentId": turk_info.assignmentId,
                "hitId": turk_info.hitId,
                "workerId": turk_info.workerId,
                "previewMode": turk_info.previewMode,
                "outsideTurk": turk_info.outsideTurk,
                "taskId": task_id
            })
            $.ajax({
              type: 'post',
              cache: false,
              url: '{{ jg['submit'] }}',
              data: JSON.stringify(jsPsych.data.getData()),
              contentType: 'application/json;charset=UTF-8',
              success: function(response){
                $('body').html(response);
              }
            });
      }
    });
  }
</script>
</html>