<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="{{ jg['jspsych_css'] }}">
    <link rel="stylesheet" href="{{ jg['jquery_ui_css'] }}">
</head>
<body>
    <center>
        <br><br>
        <img src="{{ jg['error_png'] }}" alt="error" style="width:300px;height:300px;">
        <br><br>
        An error has occurred.
        <p>Contact us: <a href="{{ feedback_url }}" target="_blank">Click here</a></p>
        <p>Please include any additional information:</p>
        <br><br>
        The error was: "{{ error }}"
        <br>
        {% for key, value in errordata.iteritems() %}
            {{ key }} = {{ value }} <br>
        {% endfor %}
        {% if allow_submit %}
            <p>You can still submit your task by clicking here:
            <button onclick="sendData();">Submit HIT</button></p>
        {% endif %}
    </center>
</body>
{% if allow_submit %}
    <script>
        function sendData() {
            jsPsych.turk.submitToTurk({
                code: 'completed'
            });
        }
    </script>
{% endif %}
</html>