<!--
The template version of the success page FOR PRACTICES.
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thank you</title>
    <script src="{{ jg['jspsych_js'] }}"></script>
    <link rel="stylesheet" href="{{ jg['jspsych_css'] }}">
    <link rel="stylesheet" href="{{ jg['jquery_ui_css'] }}">
</head>
<body>
    <center>
        <br><br>
        <img src="{{ jg['check_png'] }}" alt="success"
             style="width:300px;height:300px;">
        <p>Congratulations, you have passed the practice! You will now no
            longer be able to take more practices, but you will be able to
            start with the real task, which is higher paying. Go back to
            your hits and look for our main task, which is called
            {{ jg['task_name'] }}</p>
        <button onclick="sendData();">Submit HIT</button>
    </center>
</body>
<script>
    function sendData() {
        jsPsych.turk.submitToTurk({
            code: 'completed'
        });
    }
</script>
</html>